<ion-view title="서비스 소개" id="about" class=" ">
  <ion-content padding="true" class="has-header">
    <p id="about-markdown2" style="color:#000000;" class=" "></p>
    <div class="list card " id="about-card21">
      <div class=" item item-image">
        <img src="img/itzNI9FQSEGw2Qslw0qQ_bathroom-484.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body " id="about-list-item-container6">
        <blockquote>
          <p>화장실에서 기약없는 동료를 오랫동안 기다리느라 괴로웠어요.</p>
          <footer>기술개발1팀 - <cite title="Source Title">김XX</cite></footer>
        </blockquote>
        <blockquote>
          <p>비어있는 화장실에 찾기위해 계단을 오르내리느라 힘들었어요.</p>
          <footer>기술개발2팀 - <cite title="Source Title">이XX</cite></footer>
        </blockquote>
        <p id="about-markdown11" style="margin-top:0px;color:#000000;text-align:center;" class=" "></p>
      </div>
      <div class="item item-body " id="about-list-item-container8">
        <p id="about-markdown9" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
          <strong>만약 내 자리 앉아서 전 층의 화장실 사용 현황을 확인할 수 있다면?!</strong>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
