<ion-view title="조식 현황" id="breakfast" class=" ">
  <ion-content padding="true" class="has-header">
    <p id="about-markdown2" style="color:#000000;" class=" "></p>
    <div class="list card " id="about-card21">
      <!--
      <div class=" item item-image">
        <img src="img/breakfast.jpg" width="" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
      </div>-->
      <div class="row">
        <div class="col8" style="">
          <h4 style="color:blue;">수량 정보 : {{breakfast.status.leftCount}} / {{breakfast.status.totalCount}} 개 (Last updated : {{breakfast.status.date | date:'yyyy-MM-dd HH:mm:ss'}})</h4>
        </div>
        <div class="col text-right">
          <button class="button button-positive icon ion-refresh" ng-click="breakfast.refresh()"></button>
          <button class="button button-positive icon ion-gear-a" onclick="alert('준비중')"></button>
        </div>
      </div>
    </div>
    <ion-list id="main-list5" class=" ">
      <ion-item class="item-divider">조식 수령자 명단</ion-item>
      <ion-item ng-repeat="recipient in breakfast.recipients" id="{{recipient.employee.cardId}}" class="item-thumbnail-left">
          <img class="img" src="{{recipient.employee.nickName.imgUrl}}" style="display: inline;" height="100%">
          <h2>{{recipient.receiptDate | date:'HH시 mm분'}}</h2> <span class="item-note"><h1>{{recipient.menu == "bread" ? "빵" : "밥"}}</h1></span>
          <h1><b>{{recipient.employee.nickName.nickName}}</b></h1>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
