<ion-view title="조식 현황" id="breakfast" class=" ">
  <ion-content padding="true" class="has-header">
    <p id="about-markdown2" style="color:#000000;" class=" "></p>
    <div class="list card " id="about-card21">
      <div class=" item item-image">
        <img src="img/breakfast.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
      <div class="row">
        <div class="col" style="">
          <h4>남은 수량 / 총 수량 = 15개 / 40개</h4>
        </div>
        <div class="col text-right">
          <button class="button button-positive icon ion-refresh" onclick="alert('준비중')"></button>
          <button class="button button-positive icon ion-gear-a" onclick="alert('준비중')"></button>
        </div>
      </div>
    </div>
    <ion-list id="main-list5" class=" ">
      <ion-item class="item-divider">조식 수령자 명단</ion-item>
      <ion-item>#1%wdsaf23rfwa 염동환 밥</ion-item>
      <ion-item>#1%wdsaf23rfwa 서대영 빵</ion-item>
      <ion-item>#1%wdsaf23rfwa 정승길 빵</ion-item>
      <ion-item>#1%wdsaf23rfwa 김동현 밥</ion-item>
      <ion-item>#1%wdsaf23rfwa 윤장한 밥</ion-item>
      <ion-item>#1%wdsaf23rfwa 최은봉 빵</ion-item>
      <ion-item>#1%wdsaf23rfwa 조성근 밥</ion-item>
      <ion-item>#1%wdsaf23rfwa 조한석 밥</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
