<ion-view title="로그인" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="page5-form1" class="list ">
            <ion-list id="page5-list2" class=" ">
                <label class="item item-input " id="page5-input1">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="page5-input2">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button id="page5-button1" class=" button button-stable  button-block ">Log in</button>
            <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="page5-button2" class=" button button-positive  button-block button-clear ">Or create an account</a>
        </form>
    </ion-content>
</ion-view>