<ion-view title="회원가입" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="page6-form2" class="list ">
            <ion-list id="page6-list3" class=" ">
                <label class="item item-input " id="page6-input3">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="page6-input4">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="page6-input5">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <button id="page6-button3" class=" button button-stable  button-block ">Sign up</button>
        </form>
    </ion-content>
</ion-view>