<ion-view title="서비스 소개" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="page3-markdown2" style="color:#000000;" class=" "></p>
        <div class="list card " id="page3-card21">
            <div class=" item item-image">
                <img src="img/itzNI9FQSEGw2Qslw0qQ_bathroom-484.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="item item-body " id="page3-list-item-container6">
                <p id="page3-markdown4" style="margin-top:0px;color:#000000;text-align:center;" class=" ">화장실에서 기약없는 동료를 오랫동안 기다려본적 있으신가요?</p>
            </div>
            <div class="item item-body " id="page3-list-item-container9">
                <p id="page3-markdown11" style="margin-top:0px;color:#000000;text-align:center;" class=" ">비어있는 화장실에 찾기위해 계단을 오르내리신 적 있으신가요...?</p>
            </div>
            <div class="item item-body " id="page3-list-item-container8">
                <p id="page3-markdown9" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                    <strong>만약 내 자리 앉아서 전 층의 화장실 사용 현황을 확인할 수 있다면?!!~!</strong>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>