<ion-view title="화장실 사용 현황" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="page9-list-item-container2"></div>
        <ion-list id="page9-list5" class=" ">
            <label class="item item-select " id="page9-select2" name="floor">
                <span class="input-label">Floor</span>
                <select>
                    <option>13층</option>
                    <option>12층</option>
                    <option>11층</option>
                    <option>10층</option>
                </select>
            </label>
            <ion-item class="item-divider " id="page9-list-item-divider2">11층</ion-item>
            <ion-toggle toggle-class="toggle-positive" id="page9-toggle4" class=" ">Room #11-1</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="page9-toggle5" class=" ">Room #11-2</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="page9-toggle6" class=" ">Room #11-3</ion-toggle>
        </ion-list>
    </ion-content>
</ion-view>