<ion-view title="아두이노 랩원 소개" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="page4-list7" class=" ">
            <ion-item class="item-thumbnail-left  " id="page4-list-item11">
                <h2>정승길</h2>
                <p>랩장</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="page4-list-item12">
                <h2>윤장한</h2>
                <p>아두이노 개발</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="page4-list-item13">
                <h2>김동현</h2>
                <p>하드웨어 조립</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="page4-list-item14">
                <h2>염동환</h2>
                <p>훈수</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="page4-list-item15">
                <h2>최은봉</h2>
                <p>퍼실리테이터</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="page4-list-item17">
                <h2>조성근</h2>
                <p>관찰</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="page4-list-item16">
                <h2>조한석</h2>
                <p>부상</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="page4-list-item18">
                <h2>서대영</h2>
                <p>아무거나</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>